@model IEnumerable<WebApplication2.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CommentBody)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserForeignKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnnouncementForeignKey)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserForeignKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnouncementForeignKey)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
